pandas
sqlalchemy
watchdog
loguru
confluent-kafka
pyarrow
flask
flask-caching
pytest
requests
flake8
black
tinydb
pyspark
streamz
streamlit
fsspec
s3fs
pydantic
APScheduler
boto3
alembic
cryptography
